<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    
    <title> {{site.title}} </title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-left">
          <!--<a href="/">Zemere Awoke Kebede @ Ethiopian Defence University</a>-->
          <a href="/" style="font-size: 24px;">Zemere Awoke Kebede @ Ethiopian Defence University</a>

        </div>
        <div class="nav-right">
          <ul>
            {% for item in site.nav %}
            <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </header>

    <hr>
    
    <main>
      {{ content }}
    </main>
  </body>

</html>
